//- Including Icon mixins
include ../node_modules/jade-bootstrap/components/icons
//- Including Alert mixins
include ../node_modules/jade-bootstrap/components/alerts
//- Including Tooltip mixins
include ../node_modules/jade-bootstrap/components/tooltips
//- Including Accordion mixins
include ../node_modules/jade-bootstrap/components/accordion
//- Including Carousel mixins
include ../node_modules/jade-bootstrap/components/carousel
//- Including Table mixins
include ../node_modules/jade-bootstrap/components/tables
//- Including Navbar mixins
include ../node_modules/jade-bootstrap/components/navbar
//- Including Toggle Button mixins
include ../node_modules/jade-bootstrap/components/toggle
//- Including Nav mixins
include ../node_modules/jade-bootstrap/components/navs
//- Including Label mixins
include ../node_modules/jade-bootstrap/components/labels
//- Including Panel mixins
include ../node_modules/jade-bootstrap/components/panels
//- Including Tab mixins
include ../node_modules/jade-bootstrap/components/tabs
//- Including Dropdown mixins
include ../node_modules/jade-bootstrap/components/dropdowns
//- Including Form control mixins
include ../node_modules/jade-bootstrap/components/forms
//- Including Modal dialog mixins
include ../node_modules/jade-bootstrap/components/modal
//- Including List group mixins
include ../node_modules/jade-bootstrap/components/list-groups
//- Including Progress bar mixins
include ../node_modules/jade-bootstrap/components/progress-bars
//- Including Button mixins
include ../node_modules/jade-bootstrap/components/buttons
//- Including Image mixins
include ../node_modules/jade-bootstrap/components/images
//- Including Bootswatch theme mixins
include ../node_modules/jade-bootstrap/components/bootswatch

include mixins/fa_icons

doctype html
html(lang="pl")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport",content="width=device-width, initial-scale=1")
      meta(name="description",content="Projekt utworzony w ramach przedmiotu Technolagia zarządzania treścią")
      meta(name="author",content="Jacek Rybak")
      link(rel="icon",href="../../favicon.ico")
      title= title

      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/stylesheets/cosmo.css')
      link(rel='stylesheet', href='/stylesheets/style.css')

  body(data-spy="scroll",data-target=".scrollspy")
    block body
      +navbar-fixed("Domowy budżet","navbar","inverse")
        - var activePage = {}
        - activePage[key] = "active"
        +nav_item("/",activePage["home"])
          |  Strona główna &nbsp;
          +fa-icon("home")
        +nav_item_dropdown("#", activePage["budget"])(label="Zarządzaj budżetem  ")
          +nav_item("/budget/") Kokpit
          +nav_item("/budget/categories") Kategorie
          +nav_item("/budget/purchases") Zakupy
        +nav_item("/about",activePage["about"])
          |  O projekcie &nbsp;
          +fa-icon("info-circle")
      .container
        block content
      footer.footer
        .container-fluid
          .container
            p.text-muted 2016 Wykonał Jacek Rybak.
    block scripts
      script(src='/bower_components/jquery/dist/jquery.min.js')
      script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')